@charset "UTF-8";
/*CSS Doc*/
.hidden
{
	display: none;
}

#siteContainer
{
	width: 960px;
	height: 0px;
	background-color: #efefef;
	margin: 0 auto;
}

body
{
	background-color: #efefef;
}

a
{
	text-decoration: none;
}

#mainHeader
{
	height: 100px;
	display: flex;
	flex-direction: row;
}

#mainHeader h1
{
	font-family: Bangers;
	font-size: 50px;
	margin-top: 30px;
	padding-left: 300px;
	margin-top: 30px;
}

#mainNav
{
	margin-left: auto;
	margin-top: 100px;
}

#mainNav li
{
 display: inline;
 font-size: 20px;
}

#mainNav ul li a
{
  padding: 10px;
	color: gray;
	font-weight: 600;
}

#about p
{
	font-family: Bangers;
	font-size: 30px;
	margin: 50px;
}

.mainMusic
{
	height: 350px;
	width: 960px;
	background-color: black;
	opacity: 0.75;
}

#musicIcons h2
{
	font-family: Bangers;
	font-size: 30px;
	margin: 50px;
	margin-top: 40px;
}

#soundBoxs
{
	display: flex;
	flex-direction: row;
	margin-bottom: 90px;
	margin-left: 260px;
}

.box1
{
	width: 80px;
	height: 80px;
	background-color: blue;
	opacity: 0.5;
	justify-content: space-between;
	margin-left: 20px;
}
.box2
{
	width: 80px;
	height: 80px;
	background-color: blue;
	opacity: 0.5;
	justify-content: space-between;
	margin-left: 20px;
}
.box3
{
	width: 80px;
	height: 80px;
	background-color: blue;
	opacity: 0.5;
	justify-content: space-between;
	margin-left: 20px;
}
.box4
{
	width: 80px;
	height: 80px;
	background-color: blue;
	opacity: 0.5;
	justify-content: space-between;
	margin-left: 20px;
}


#mainFooter
{
	width: 960px;
	height: 90px;
	background-color: gray;
	opacity: 0.5;
}

#footerNav
{
	text-align: center;
	padding-top: 30px;
}

#footerNav li
{
 display: inline;
 font-size: 20px;
}

#footerNav ul li a
{
  padding: 15px;
	color: black;
}
